# human timezones
pytz
# indexer
Whoosh
# xapian is also installed
# extra database support
psycopg2
mysqlclient
redis
# encryption
gpg
# java web tokens
PyJWT
# extra HTTP compression methods
Brotli
zstd
# jinja2 template engine
Jinja2
