a:hover {  
  text-decoration: underline;
  color: #333333; 
}

a:link {
  text-decoration: none;
  color: #000099;
}

a {
  text-decoration: none;
  color: #000099;
}

p {
  color: #333333;
}

th {
  font-weight: bold;
  color: #333333;
}

.form-help {
  color: #333333;
}

.location-bar {
  background-color: #efefef;
  border: none;
}

.strong-header {
  font-weight: bold;
  background-color: #000000;
  color: #ffffff;
}

.list-header {
  background-color: #aaccff;
  color: #000000;
  border: none;
}

.section-bar {
  background-color: #707070;
  color: #ffffff;
  border: 1px solid #404040;
}

.row-normal {
  background-color: #ffffff;
  border: none;
}

.row-hilite {
  background-color: #efefef;
  border: none;
}

.msg-header {
  font-family: Verdana, Helvetica, sans-serif;
  font-weight: bold;
  background-color: #EE71AC;
  color: #ffffff;
}

.msg-content {
  font-family: monospace;
  background-color: #ffeaff;
  color: #000000;
}

.system-msg {
  background-color: #ffffff;
  border:  1px solid #000000;
  margin-bottom: 6px;
  margin-top: 6px;
  padding: 4px;
  width: 100%;
  color: #660033;
}

.form-title {
  font-weight: bold;
  color: #333333;
}

.form-label {
  font-weight: bold;
  color: #333333;
}

.form-optional {
  font-weight: bold;
  font-style: italic;
  color: #333333;
}

.form-element {
  color: #000000;
}

.form-text {
  color: #333333;
}

.form-mono {
  font-family: monospace;
}

