<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
      <link rel="stylesheet" type="text/css" href="@@file/style.css" />
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8;" />
      <tal:block tal:condition="python:request.form.has_key('property')">
      <title tal:content="string:${request/form/property/value} help">Property</title>
      <script language="Javascript" type="text/javascript" 
          tal:content="structure string:
          // this is the name of the field in the original form that we're working on
          field = '${request/form/property/value}';" >
      </script>
      <script src="@@file/help_controls.js" type="text/javascript"><!-- 
      //--></script>
      </tal:block>
  </head>
 <body class="body" onload="resetList();">
 <form name="frm_help" tal:attributes="action request/base"
       tal:define="start python:int(request.form['@startwith'].value);
                   batch python:utils.Batch(context.list(), 500, start);
                   props python:request.form['properties'].value.split(',')">
     
     <div id="classhelp-controls">
       <!--input type="button" name="btn_clear" 
              value="Clear" onClick="clearList()"/ -->
       <input type="text" name="text_preview" size="24" class="preview"
              onchange="reviseList(this.value);"/>
       <input type="button" name="btn_reset" 
              value=" Cancel " onclick="resetList(); window.close();"/>
       <input type="button" name="btn_apply" class="apply"
              value=" Apply " onclick="updateList(); window.close();"/>     
     </div>

     <table class="classhelp">
       <tr>
           <th>&nbsp;<b>x</b></th>
           <th tal:repeat="prop props" tal:content="prop"></th>
       </tr>
       <tr tal:repeat="item batch">
           <tal:block tal:define="attr python:item[props[0]]">
             <td>
                 <input type="checkbox" name="check" 
                 onclick="updatePreview();"
                 tal:attributes="value attr; id string:id_$attr" />
             </td>
             <td tal:repeat="prop props">
                 <label class="classhelp-label"
                        tal:attributes="for string:id_$attr"
                        tal:content="structure python:item[prop]"></label>
             </td>
           </tal:block>
       </tr>
       <tr>
           <th>&nbsp;<b>x</b></th>
           <th tal:repeat="prop props" tal:content="prop"></th>
       </tr>
     </table>
     <table width="100%">
      <tr class="navigation">
       <th>
        <a tal:define="prev batch/previous" tal:condition="prev"
            tal:attributes="href string:${request/classname}?@template=help&@startwith=${prev/first}&property=${request/form/property/value}&properties=${request/form/properties/value}">&lt;&lt; previous</a>
        &nbsp;
       </th>
       <th tal:content="python: '%d...%d out of %d'%(batch.start,
               batch.start+batch.length-1, batch.sequence_length)">current</th>
       <th>
        <a tal:define="next batch/next" tal:condition="next"
            tal:attributes="href string:${request/classname}?@template=help&@startwith=${next/first}&property=${request/form/property/value}&properties=${request/form/properties/value}">next &gt;&gt;</a>
        &nbsp;
       </th>
      </tr>
     </table>

 </form>
 </body>
</html>
