<tal:block metal:use-macro="templates/page/macros/icing">
  <title metal:fill-slot="head_title"
         tal:content="python:context._classname.capitalize()+' Edit Collision'"></title>
  <span metal:fill-slot="body_title" tal:omit-tag="python:1"
        tal:content="python:context._classname.capitalize()+' Edit Collision'"></span>
  <td class="content" metal:fill-slot="content">
    There has been a collision. Another user updated this node while you were
    editing. Please <a tal:attributes="href context/designator">reload</a>
    the node and review your edits.
  </td>
</tal:block>

