<!-- dollarId: issue.index,v 1.2 2001/07/29 04:07:37 richard Exp dollar-->
<tal:block metal:use-macro="templates/page/macros/icing">
<title metal:fill-slot="head_title"> 
 List of issues - <span tal:replace="config/TRACKER_NAME" />
</title> 
<span metal:fill-slot="body_title" tal:omit-tag="python:1">List of issues</span>
<td class="content" metal:fill-slot="content">

<tal:block tal:condition="not:context/is_view_ok">
You are not allowed to view this page.
</tal:block>

<tal:block tal:define="batch request/batch" tal:condition="context/is_view_ok">
 <table class="list">
  <tr>
   <th tal:condition="request/show/priority">Priority</th>
   <th tal:condition="request/show/id">ID</th>
   <th tal:condition="request/show/creation">Creation</th>
   <th tal:condition="request/show/activity">Activity</th>
   <th tal:condition="request/show/actor">Actor</th>
   <th tal:condition="request/show/topic">Topic</th>
   <th tal:condition="request/show/title">Title</th>
   <th tal:condition="request/show/status">Status</th>
   <th tal:condition="request/show/creator">Creator</th>
   <th tal:condition="request/show/assignedto">Assigned&nbsp;To</th>
  </tr>
 <tal:block tal:repeat="i batch">
  <tr tal:define="group python:request.group[1]"
      tal:condition="python:group and batch.propchanged(group)">
   <th tal:attributes="colspan python:len(request.columns)"
       tal:content="python:str(i[group]) or '(no %s set)'%group" class="group">
   </th>
  </tr>

  <tr>
   <td tal:condition="request/show/priority"
       tal:content="python:i.priority.plain() or default">&nbsp;</td>
   <td tal:condition="request/show/id" tal:content="i/id">&nbsp;</td>
   <td class="date" tal:condition="request/show/creation"
       tal:content="i/creation/reldate">&nbsp;</td>
   <td class="date" tal:condition="request/show/activity"
       tal:content="i/activity/reldate">&nbsp;</td>
   <td class="date" tal:condition="request/show/actor"
       tal:content="python:i.actor.plain() or default">&nbsp;</td>
   <td tal:condition="request/show/topic"
       tal:content="python:i.topic.plain() or default">&nbsp;</td>
   <td tal:condition="request/show/title">
    <a tal:attributes="href string:issue${i/id}"
		tal:content="python:str(i.title.plain(hyperlink=0)) or '[no title]'">title</a>
   </td>
   <td tal:condition="request/show/status"
       tal:content="python:i.status.plain() or default">&nbsp;</td>
   <td tal:condition="request/show/creator"
       tal:content="python:i.creator.plain() or default">&nbsp;</td>
   <td tal:condition="request/show/assignedto"
       tal:content="python:i.assignedto.plain() or default">&nbsp;</td>
  </tr>

 </tal:block>

 <tr tal:condition="batch">
  <th tal:attributes="colspan python:len(request.columns)">
   <table width="100%">
    <tr class="navigation">
     <th>
      <a tal:define="prev batch/previous" tal:condition="prev"
         tal:attributes="href python:request.indexargs_href(request.classname,
         {'@startwith':prev.first, '@pagesize':prev.size})">&lt;&lt; previous</a>
      &nbsp;
     </th>
     <th tal:content="python: '%d...%d out of %d'%(batch.start,
             batch.start+batch.length-1, batch.sequence_length)">current</th>
     <th>
      <a tal:define="next batch/next" tal:condition="next"
         tal:attributes="href python:request.indexargs_href(request.classname,
         {'@startwith':next.first, '@pagesize':next.size})">next &gt;&gt;</a>
      &nbsp;
     </th>
    </tr>
   </table>
  </th>
 </tr>
</table>

<a tal:attributes="href python:request.indexargs_url('issue',
            {'@action':'export_csv'})">Download as CSV</a>

<form method="GET" id="index-controls" tal:attributes="action request/classname">
 
 <table class="form">
  <tr tal:condition="batch">
   <th>Sort on:</th>
   <td>
    <select name="@sort">
     <option value="">- nothing -</option>
     <option tal:repeat="col context/properties"
             tal:attributes="value col/_name;
                             selected python:col._name == request.sort[1]"
             tal:content="col/_name">column</option>
    </select>
   </td>
   <th>Descending:</th>
   <td><input type="checkbox" name="@sortdir"
              tal:attributes="checked python:request.sort[0] == '-'"> 
   </td>
  </tr>
  <tr>
   <th>Group on:</th>
   <td>
    <select name="@group">
     <option value="">- nothing -</option>
     <option tal:repeat="col context/properties"
             tal:attributes="value col/_name;
                             selected python:col._name == request.group[1]"
             tal:content="col/_name">column</option>
    </select>
   </td>
   <th>Descending:</th>
   <td><input type="checkbox" name="@groupdir"
              tal:attributes="checked python:request.group[0] == '-'"> 
   </td>
  </tr>
  <tr><td colspan="4">
              <input type="submit" value="Redisplay">
              <tal:block tal:replace="structure
                python:request.indexargs_form(sort=0, group=0)" />
  </td></tr>
 </table>
</form>

</tal:block>

</td>
</tal:block>
