<html metal:define-macro="icing">
<head>
<title metal:define-slot="head_title">title goes here</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8;">

<link rel="stylesheet" type="text/css" href="_file/style.css">

<script tal:replace="structure request/base_javascript">
</script>

</head>
<body class="body" marginwidth="0" marginheight="0">

<table class="body">

<tr>
 <td class="page-header-left">&nbsp;</td>
 <td class="page-header-top" metal:define-slot="body_title"><h2>name</h2></td>
</tr>

<tr>
 <td rowspan="2" valign="top" nowrap class="sidebar">
  <p class="classblock" tal:condition="request/user/queries">
   <b>Your Queries</b><br>
   <tal:block tal:repeat="qs request/user/queries">
    <a tal:attributes="href string:${qs/klass}${qs/url}"
       tal:content="qs/name">link</a><br>
   </tal:block>
  </p>

  <form method="POST">
   <p class="classblock"
       tal:condition="python:request.user.hasPermission('View', 'issue')">
    <b>Issues</b><br>
    <a tal:condition="python:request.user.hasPermission('Edit', 'issue')"
      href="issue?:template=item">Create New<br></a>
    <a href="issue?:sort=-activity&:group=priority&:filter=status,assignedto&:columns=id,activity,title,creator,status&status=-1,1,2,3,4,5,6,7&assignedto=-1">Show Unassigned</a><br>
    <a href="issue?:sort=-activity&:group=priority&:filter=status&:columns=id,activity,title,creator,assignedto,status&status=-1,1,2,3,4,5,6,7">Show All</a><br>
    <a href="issue?:template=search">Search</a><br>
    <input type="submit" value="Show issue no."><input size="4" type="text" name=":number">
    <input type="hidden" name=":type" value="issue">
    <input type="hidden" name=":action" value="show">
   </p>
  </form>

  <p class="classblock"
     tal:condition="python:request.user.hasPermission('View', 'keyword')">
   <b>Keywords</b><br>
   <a tal:condition="python:request.user.hasPermission('Edit', 'keyword')"
      href="keyword?:template=item">Create New<br></a>
   <a tal:condition="python:request.user.hasPermission('Edit', 'keyword') and
                            len(db.keyword.list())"
      href="keyword?:template=item">Edit Existing<br></a>
  </p>

  <p class="classblock"
       tal:condition="python:request.user.username != 'anonymous'">
   <b>Administration</b><br>
   <a tal:condition="python:request.user.hasPermission('Edit', None)"
      href="home?:template=classlist">Class List</a><br>
   <a tal:condition="python:request.user.hasPermission('View', 'user')
                            or request.user.hasPermission('Edit', 'user')"
      href="user" >User List</a><br>
   <a tal:condition="python:request.user.hasPermission('Edit', 'user')"
      href="user?:template=item">Add User</a>
  </p>

  <form method="POST" action="">
   <p class="userblock" tal:condition="python:request.user.username=='anonymous'">
    <input size="10" name="__login_name"><br>
    <input size="10" type="password" name="__login_password"><br>
    <input type="submit" name=":action" value="login">
    <span tal:replace="structure request/indexargs_form" />
    <a href="user?:template=register">Register</a><br>
    <a href="user?:template=forgotten">Forgotten your password?</a><br>
   </p>
  </form>
   
  <p class="userblock" tal:condition="python:request.user.username != 'anonymous'">
   <b>Hello,</b><br><b tal:content="request/user/username">username</b><br>
   <a tal:attributes="href string:issue?:sort=-activity&:group=priority&:filter=status,assignedto&:columns=id,activity,title,creator,status&status=-1,1,2,3,4,5,6,7&assignedto=${request/user/id}">My Issues</a><br>
   <a tal:attributes="href string:user${request/user/id}">My Details</a><br>
   <a tal:attributes="href python:request.indexargs_href('',
       {':action':'logout'})">Logout</a>
  </p>
  <p class="userblock">
   <b>Help</b><br>
   <a href="http://roundup.sourceforge.net/doc-0.6/">Roundup docs</a>
  </p>
 </td>
 <td>
  <p tal:condition="options/error_message | nothing" class="error-message"
     tal:repeat="m options/error_message" tal:content="structure m">error</p>
  <p tal:condition="options/ok_message | nothing" class="ok-message"
     tal:repeat="m options/ok_message" tal:content="structure m">error</p>
 </td>
</tr>
<tr>
 <td class="content" metal:define-slot="content">Page content goes here</td>
</tr>

</table>

<pre tal:condition="request/form/debug | nothing" tal:content="request">
</pre>

</body>
</html>
