/* main page styles */
body.body {
  font-family: sans-serif, Arial, Helvetica;
  color: #333333;
}
a[href]:hover { color:blue; text-decoration: underline; }
a[href]:link { color:blue; text-decoration: none; }
a[href] { color:blue; text-decoration: none; }

table.body {
  border: 0;
  padding: 0;
  border-spacing: 0px;
  border-collapse: separate;
}

td.page-header-left {
  padding: 5px;
  border-bottom: 1px solid #444444;
}

td.page-header-top {
  padding: 5px;
  border-bottom: 1px solid #444444;
}

td.sidebar {
  padding: 1 0 0 1;
}

td.sidebar p.classblock {
  padding: 0 5 0 5;
  margin: 1 1 1 1;
  border: 1px solid #444444;
  background-color: #eeeeee;
}

td.sidebar p.userblock {
  padding: 0 5 0 5;
  margin: 1 1 1 1;
  border: 1px solid #444444;
  background-color: #eeeeff;
}

td.content {
  padding: 1 5 1 5;
  vertical-align: top;
  width: 100%;
}

p.ok-message {
  background-color: #22bb22;
  padding: 5 5 5 5;
  color: white;
  font-weight: bold;
}
p.error-message {
  background-color: #bb2222;
  padding: 5 5 5 5;
  color: white;
  font-weight: bold;
}


/* style for forms */
table.form {
  padding: 2;
  border-spacing: 0px;
  border-collapse: separate;
}

table.form th {
  color: #333388;
  text-align: right;
  vertical-align: top;
  font-weight: normal;
}

table.form th.header {
  font-weight: bold;
  background-color: #eeeeff;
  text-align: left;
}

table.form th.required {
  font-weight: bold;
}

table.form td {
  color: #333333;
  empty-cells: show;
  vertical-align: top;
}

table.form td.optional {
  font-weight: bold;
  font-style: italic;
}

table.form td.html {
  color: #777777;
}

/* style for lists */
table.list {
  border-spacing: 0px;
  border-collapse: separate;
  width: 100%;
}

table.list th {
  padding: 0 4 0 4;
  color: #404070;
  background-color: #eeeeff;
  border: 1px solid white;
  vertical-align: top;
  empty-cells: show;
}
table.list th a[href]:hover { color: #404070 }
table.list th a[href]:link { color: #404070 }
table.list th a[href] { color: #404070 }
table.list th.group {
  background-color: #f4f4ff;
  text-align: center;
}

table.list td {
  padding: 0 4 0 4;
  border: 1px solid white;
  color: #404070;
  background-color: white;
  vertical-align: top;
  empty-cells: show;
}

table.list tr.normal td {
  background-color: #efefef;
}

table.list tr.alt td {
  background-color: #efefef;
}

table.list tr.navigation th {
  text-align: right;
}
table.list tr.navigation th:first-child {
  text-align: left;
}


/* style for message displays */
table.messages {
  border-spacing: 0px;
  border-collapse: separate;
  width: 100%;
}

table.messages th.header{
  padding-top: 10px;
  border-bottom: 1px solid gray;
  font-weight: bold;
  background-color: white;
  color: #707040;
}

table.messages th {
  font-weight: bold;
  color: black;
  text-align: left;
  border-bottom: 1px solid #afafaf;
}

table.messages td {
  font-family: monospace;
  background-color: #efefef;
  border-bottom: 1px solid #afafaf;
  color: black;
  empty-cells: show;
  border-right: 1px solid #afafaf;
  vertical-align: top;
  padding: 2 5 2 5;
}

table.messages td:first-child {
  border-left: 1px solid #afafaf;
  border-right: 1px solid #afafaf;
}

/* style for file displays */
table.files {
  border-spacing: 0px;
  border-collapse: separate;
  width: 100%;
}

table.files th.header{
  padding-top: 10px;
  border-bottom: 1px solid gray;
  font-weight: bold;
  background-color: white;
  color: #707040;
}

table.files th {
  border-bottom: 1px solid #afafaf;
  font-weight: bold;
  text-align: left;
}

table.files td {
  font-family: monospace;
  empty-cells: show;
}

/* style for history displays */
table.history {
  border-spacing: 0px;
  border-collapse: separate;
  width: 100%;
}

table.history th.header{
  padding-top: 10px;
  border-bottom: 1px solid gray;
  font-weight: bold;
  background-color: white;
  color: #707040;
  font-size: 100%;
}

table.history th {
  border-bottom: 1px solid #afafaf;
  font-weight: bold;
  text-align: left;
  font-size: 90%;
}

table.history td {
  font-size: 90%;
  vertical-align: top;
  empty-cells: show;
}


/* style for class list */
table.classlist {
  border-spacing: 0px;
  border-collapse: separate;
  width: 100%;
}

table.classlist th.header{
  padding-top: 10px;
  border-bottom: 1px solid gray;
  font-weight: bold;
  background-color: white;
  color: #707040;
}

table.classlist th {
  font-weight: bold;
  text-align: left;
}


/* style for class help display */
table.classhelp {
  border-spacing: 0px;
  border-collapse: separate;
  width: 100%;
}

table.classhelp th {
  font-weight: bold;
  text-align: left;
  color: #707040;
}

table.classhelp td {
  padding: 2 2 2 2;
  border: 1px solid black;
  text-align: left;
  vertical-align: top;
  empty-cells: show;
}


/* style for "other" displays */
table.otherinfo {
  border-spacing: 0px;
  border-collapse: separate;
  width: 100%;
}

table.otherinfo th.header{
  padding-top: 10px;
  border-bottom: 1px solid gray;
  font-weight: bold;
  background-color: white;
  color: #707040;
}

table.otherinfo th {
  border-bottom: 1px solid #afafaf;
  font-weight: bold;
  text-align: left;
}
