<div class="navbar navbar-light bg-light">
  <a href="{{ request.base }}" class='navbar-brand'>
    <i class='icon-home'></i> {{ config.TRACKER_NAME|u }}
  </a>
  <form name="searchform" method="get" action="issue" class='form-inline my-2 my-lg-0 navbar-search'>
    <input type="hidden" name="@columns" value="{{ columns_showall }}"/>
    <input type="hidden" name="@sort" value="-activity">
    <input type="hidden" name="@group" value="priority">
    <input type="hidden" name="@filter" value="status">
    <input type="hidden" name="status" value="{{ status_notresolved }}"/>
    <input class="form-control form-control-sm mr-sm-2 search-query" id="search-text" type="search" name="@search_text">
    <input class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit" value="{% trans %}Search{% endtrans %}" name="submit">
  </form>
</div>
