{% macro input_text_large(text, id, name, required=False) %}
  <div class="col col-lg-12 row">
    <dt class="col col-4 col-md-3 col-lg-2">
      <label class="col-form-label" for="{{ id }}">{{ i18n.gettext(text)|u|safe }}</label>
    </dt>
    <dd class="col col-8 col-md-9 col-lg-10">
      <input class="form-control" name="{{ name }}" id="{{ id }}" type="text" value="{{ context[name].plain()|u }}" {%- if required %}required="required"{% endif %} />
    </dd>
  </div>
{% endmacro -%}
{% macro input_text_small(text, id, name, required=False) %}
  <div class="col row mr-1">
    <dt class="col col-4 col-md-3 col-lg-4">
      <label class="col-form-label" for="{{ id }}">{{ i18n.gettext(text)|u|safe }}</label>
      </dt>
    <dd class="col col-8 col-md-9 col-lg-8">
      <input class="form-control" name="{{ name }}" id="{{ id }}" type="text" value="{{ context[name].plain()|u }}" {%- if required %}required="required"{% endif %} />
    </dd>
  </div>
{% endmacro -%}
{% macro input_file(text, id, name) %}
  <div class="col row mr-1">
    <dt class="col col-4 col-md-3 col-lg-4">
      <label class="col-form-label" for="{{ id }}">{{ i18n.gettext(text)|u|safe }}</label>
    </dt>
    <dd class="col col-8 col-md-9 col-lg-8">
      <input class="form-control" name="{{ name }}" id="{{ id }}" type="file" {%- if required %}required="required"{% endif %} />
    </dd>
  </div>
{% endmacro -%}
{% macro input_option(text, id, required=False) %}
  <div class="col row mr-1">
    <dt class="col col-4 col-md-3 col-lg-4">
      <label class="col-form-label" for="{{ id }}">{{ i18n.gettext(text)|u|safe }}</label>
    </dt>
    <dd class="col col-8 col-md-9 col-lg-8">
	{% set kwargs = { 'required' : 'required' } %}
      {{ context[id].menu(html_kwargs=dict([('class', 'input custom-select form-control')] + ([('required', 'required')] if required else [])))|u|safe }}
    </dd>
  </div>
{% endmacro -%}
{% macro input_textarea(text, id, name, required=False) %}
  <div class="col col-lg-12 row">
    <dt class="col col-4 col-md-3 col-lg-2">
      <label class="col-form-label" for="{{ name }}">{{ i18n.gettext(text)|u|safe }}</label>
    </dt>
    <dd class="col col-8 col-md-9 col-lg-10">
      <textarea class="form-control" name="{{ name }}" id="{{ name }}" rows="5">{% if name in request.form %}{{ request.form[name].value|u }}{% endif %}</textarea>
    </dd>
  </div>
{% endmacro -%}
