{% if request.user.hasPermission('View', 'query') %}
  <p>
    <b>Your Queries</b> (<a href="query?@template=edit">edit</a>)
  </p>
{% endif %}

{% if request.user.hasPermission('View', 'issue') %}
  <ul class='nav nav-list'>
    <li class='nav-header'>
      <i class='icon-fire'></i>Issues
    </li>
    {% if request.user.hasPermission('Create', 'issue') %}
      <li>
        <a href="issue?@template=item">Create New</a>
      </li>
    {% endif %}

    <li>
      <a href="{{ request.indexargs_url('issue', {
        '@sort': '-activity',
        '@group': 'priority',
        '@filter': 'status,assignedto',
        '@columns': columns,
        '@search_text': '',
        'status': status_notresolved,
        'assignedto': '-1',
        '@dispname': i18n.gettext('Show Unassigned'),
       }) }}">Show Unassigned</a>
    </li>
    <li>
      <a href="{{ request.indexargs_url('issue', {
        '@sort': '-activity',
        '@group': 'priority',
        '@filter': 'status',
        '@columns': columns_showall,
        '@search_text': '',
        'status': status_notresolved,
        '@dispname': i18n.gettext('Show All'),
       }) }}">Show All</a>
    </li>
    <li>
      <a href="issue?@template=search">Search</a>
    </li>
    <li>
      <form method="POST" class='form-inline' tal:attributes="action request/base">
        <input type="hidden" name="@type" value="issue">
        <input type="hidden" name="@action" value="show">
        <input class="input-mini" type="text" name="@number">
        <input type="submit" class="btn" value="Show issue">
      </form>
    </li>
  </ul>
  <hr>
{% else %}
  <p class='text-error'>You don't have permission to view issues.</p>
{% endif %}

<ul class='nav nav-list'>
  {% if request.user.hasPermission('Create', 'keyword')
        or request.user.hasPermission('Edit', 'keyword') %}
    <li class='nav-header'>
      <i class='icon-star'></i>Keywords
    </li>
  {% endif %}
  {% if request.user.hasPermission('Create', 'keyword') %}
    <li>
      <a href="keyword?@template=item">Create New</a>
    </li>
  {% endif %}
  {% if request.user.hasPermission('Edit', 'keyword') %}
    <li>
      <a href="keyword?@template=item">Edit Existing</a>
    </li>
  {% endif %}
</ul>
{% if request.user.hasPermission('Create', 'keyword')
      or request.user.hasPermission('Edit', 'keyword') %}
<hr>
{% endif %}

{% if request.user.hasPermission('View', 'user') %}
  <ul class='nav nav-list'>
    <li class='nav-header'>
      <i class='icon-eye-open'></i>Administration
    </li>

    {% if request.user.hasPermission('Edit', None) %}
      <li>
        <a href="home?@template=classlist">Class List</a>
      </li>
    {% endif %}

    {% if request.user.hasPermission('View', 'user') or request.user.hasPermission('Edit', 'user') %}
      <li>
        <a href="user" >User List</a>
      </li>
    {% endif %}

    {% if request.user.hasPermission('Create', 'user') %}
      <li>
        <a href="user?@template=item">Add User</a>
      </li>
    {% endif %}
  </ul>
  <hr>
{% endif %}

{% if  request.user.username == 'anonymous' %}
  <form method="POST" tal:attributes="action request/base">
    <ul class='nav nav-list'>
      <li class='nav-header'>
        <i class='icon-user'></i>Login
      </li>
      <li>
        <input type='text' name="__login_name" placeholder='username'>
      </li>
      <li>
        <input type="password" name="__login_password" placeholder='password'>
      </li>
      <li>
        <label class='checkbox'>
          <input type="checkbox" name="remember"> Remember me?
        </label>
      </li>
      <li>
        <input type="submit" value="Login" class='btn btn-inverse'>
      </li>
      <li class='vspace-one'>
        {% if request.user.hasPermission('Register', 'user') %}
          <a href="user?@template=register">Register</a>
        {% endif %}
      </li>
      <li>
        <a href="user?@template=forgotten">Lost&nbsp;your&nbsp;login?</a>
      </li>
    </ul>
    <input type="hidden" name="@action" value="Login">
    <input type="hidden" name="__came_from" value='{{request.base}}{{request.env.PATH_INFO}}'>
  </form>
  <hr>
{% else %}
  <ul class='nav nav-list'>
    <li class='nav-header'>
      <i class='icon-user'></i>Hello,
      <span class='username'>{{ request.user.username.plain(escape=1) }}</span>
    </li>
    <li>
      <a href="{{ request.indexargs_url('issue', {
        '@sort': '-activity',
        '@group': 'priority',
        '@filter': 'status,assignedto',
        '@columns': 'id,activity,title,creator,status',
        '@search_text': '',
        'status': status_notresolved,
        'assignedto': request.user.id,
        '@dispname': i18n.gettext('Your Issues'),
      }) }}">Your Issues</a>
    </li>
    <li>
      <a href="user{{ request.user.id }}">Your Details</a>
    </li>
    <li>
      <a href="{{ request.indexargs_url('', {'@action':'logout'}) }}">Logout</a>
    </li>
  </ul>
  <hr>
{% endif %}

<ul class='nav nav-list'>
  <li class='nav-header'>
    <i class='icon-bookmark'></i>Help
  </li>
  <li>
    <a href="http://www.roundup-tracker.org">Roundup docs</a>
  </li>
</ul>
