{% set columns = 'id,activity,title,creator,status' %}
{% set columns_showall = 'id,activity,title,creator,assignedto,status' %}

{% if request.user.hasPermission('View', 'query') %}
  <p>
    <b>{{ i18n.gettext('Your Queries')|u }}</b> (<a href="query?@template=edit">{{ i18n.gettext('edit')|u }}</a>)
  </p>
{% endif %}

{% if request.user.hasPermission('View', 'issue') %}
  <ul class='nav nav-list'>
    <li class='nav-header'>
      <i class='icon-fire'></i>{{ i18n.gettext('Issues')|u }}
    </li>
    {% if request.user.hasPermission('Create', 'issue') %}
      <li>
        <a href="issue?@template=item">{{ i18n.gettext('Create New')|u }}</a>
      </li>
    {% endif %}

    <li>
      <a href="{{ request.indexargs_url('issue', {
        '@sort': '-activity',
        '@group': 'priority',
        '@filter': 'status,assignedto',
        '@columns': columns,
        '@search_text': '',
        'status': status_notresolved,
        'assignedto': '-1',
        '@dispname': i18n.gettext('Show Unassigned')|u,
       }) }}">{{ i18n.gettext('Show Unassigned')|u }}</a>
    </li>
    <li>
      <a href="{{ request.indexargs_url('issue', {
        '@sort': '-activity',
        '@group': 'priority',
        '@filter': 'status',
        '@columns': columns_showall,
        '@search_text': '',
        'status': status_notresolved,
        '@dispname': i18n.gettext('Show All')|u,
       }) }}">{{ i18n.gettext('Show All')|u }}</a>
    </li>
    <li>
      <a href="issue?@template=search">{{ i18n.gettext('Search')|u }}</a>
    </li>
    <li>
      <form method="POST" class='form-inline' action="{{ request.base }}">
        <input type="hidden" name="@type" value="issue">
        <input type="hidden" name="@action" value="show">
        <input class="input-mini" type="text" name="@number">
        <input type="submit" class="btn" value="{{ i18n.gettext('Show issue')|u }}">
      </form>
    </li>
  </ul>
  <hr>
{% else %}
  <p class='text-error'>{{ i18n.gettext("You don't have permission to view issues.") }}</p>
{% endif %}

<ul class='nav nav-list'>
  {% if request.user.hasPermission('Create', 'keyword')
        or request.user.hasPermission('Edit', 'keyword') %}
    <li class='nav-header'>
      <i class='icon-star'></i>{{ i18n.gettext('Keywords')|u }}
    </li>
  {% endif %}
  {% if request.user.hasPermission('Create', 'keyword') %}
    <li>
      <a href="keyword?@template=item">{{ i18n.gettext('Create New')|u }}</a>
    </li>
  {% endif %}
  {% if request.user.hasPermission('Edit', 'keyword') %}
    <li>
      <a href="keyword?@template=item">{{ i18n.gettext('Edit Existing')|u }}</a>
    </li>
  {% endif %}
</ul>
{% if request.user.hasPermission('Create', 'keyword')
      or request.user.hasPermission('Edit', 'keyword') %}
<hr>
{% endif %}

{% if request.user.hasPermission('View', 'user') %}
  <ul class='nav nav-list'>
    <li class='nav-header'>
      <i class='icon-eye-open'></i>{{ i18n.gettext('Administration')|u }}
    </li>

    {% if request.user.hasPermission('Edit', None) %}
      <li>
        <a href="home?@template=classlist">{{ i18n.gettext('Class List')|u }}</a>
      </li>
    {% endif %}

    {% if request.user.hasPermission('View', 'user') or request.user.hasPermission('Edit', 'user') %}
      <li>
        <a href="user">{{ i18n.gettext('User List')|u }}</a>
      </li>
    {% endif %}

    {% if request.user.hasPermission('Create', 'user') %}
      <li>
        <a href="user?@template=item">{{ i18n.gettext('Add User')|u }}</a>
      </li>
    {% endif %}
  </ul>
  <hr>
{% endif %}

{% if  request.user.username == 'anonymous' %}
  <form method="POST" action='{{ request.base }}'>
    <ul class='nav nav-list'>
      <li class='nav-header'>
        <i class='icon-user'></i>{{ i18n.gettext('Login')|u }}
      </li>
      <li>
        <input type='text' name="__login_name" placeholder='username'>
      </li>
      <li>
        <input type="password" name="__login_password" placeholder='password'>
      </li>
      <li>
        <label class='checkbox'>
          <input type="checkbox" name="remember"> {{ i18n.gettext('Remember me?')|u }}
        </label>
      </li>
      <li>
        <input type="submit" value="{{ i18n.gettext('Login')|u }}" class='btn btn-inverse'>
      </li>
      <li class='vspace-one'>
        {% if request.user.hasPermission('Register', 'user') %}
          <a href="user?@template=register">{{ i18n.gettext('Register')|u }}</a>
        {% endif %}
      </li>
      <li>
        <a href="user?@template=forgotten">{{ i18n.gettext('Lost your login?')|u }}</a>
      </li>
    </ul>
    <input type="hidden" name="@action" value="{{ i18n.gettext('Login')|u }}">
    <input type="hidden" name="__came_from" value='{{request.base}}{{request.env.PATH_INFO}}'>
  </form>
  <hr>
{% else %}
  <ul class='nav nav-list'>
    <li class='nav-header'>
      <i class='icon-user'></i>{{ i18n.gettext('Hello,')|u }}
      <span class='username'>{{ request.user.username.plain(escape=1) }}</span>
    </li>
    <li>
      <a href="{{ request.indexargs_url('issue', {
        '@sort': '-activity',
        '@group': 'priority',
        '@filter': 'status,assignedto',
        '@columns': 'id,activity,title,creator,status',
        '@search_text': '',
        'status': status_notresolved,
        'assignedto': request.user.id,
        '@dispname': i18n.gettext('Your Issues')|u,
      }) }}">{{ i18n.gettext('Your Issues')|u }}</a>
    </li>
    <li>
      <a href="user{{ request.user.id }}">{{ i18n.gettext('Your Details')|u }}</a>
    </li>
    <li>
      <a href="{{ request.indexargs_url('', {'@action':'logout'}) }}">{{ i18n.gettext('Logout')|u }}</a>
    </li>
  </ul>
  <hr>
{% endif %}

<ul class='nav nav-list'>
  <li class='nav-header'>
    <i class='icon-bookmark'></i>{{ i18n.gettext('Help')|u }}
  </li>
  <li>
    <a href="http://www.roundup-tracker.org">Roundup docs</a>
  </li>
</ul>
