{% if not (context.is_view_ok() or request.user.hasRole('Anonymous')) %}
  <p class='alert alert-block alert-error fade in'> 
    You are not allowed to view this page.
    <button type='button' class='close' data-dismiss='alert'>X</button>
  </p>
{% endif %}

{% if not context.is_view_ok() and request.user.hasRole('Anonymous') %}
  <p class='alert alert-block alert-error fade in'> 
    Please login with your username and password.
    <button type='button' class='close' data-dismiss='alert'>X</button>
  </p>
{% endif %}
