<!-- dollarId: user.index,v 1.3 2002/07/09 05:29:51 richard Exp dollar-->
<tal:block metal:use-macro="templates/page/macros/icing">
<title metal:fill-slot="head_title" i18n:translate="">User listing - <span
 i18n:name="tracker" tal:replace="config/TRACKER_NAME" /></title>
<span metal:fill-slot="body_title" tal:omit-tag="python:1"
 i18n:translate="">User listing</span>
<td class="content" metal:fill-slot="content">

<span tal:condition="python:not (context.is_view_ok()
 or request.user.hasRole('Anonymous'))"
 i18n:translate="">You are not allowed to view this page.</span>

<span tal:condition="python:not context.is_view_ok()
 and request.user.hasRole('Anonymous')"
 i18n:translate="">Please login with your username and password.</span>

<table width="100%" tal:condition="context/is_view_ok" class="list">
<tr>
 <th i18n:translate="">Username</th>
 <th i18n:translate="">Real name</th>
 <th i18n:translate="">Organisation</th>
 <th i18n:translate="">Email address</th>
 <th i18n:translate="">Phone number</th>
 <th tal:condition="context/is_edit_ok" i18n:translate="">Retire</th>
</tr>
<tal:block repeat="user context/list">
<tr tal:attributes="class python:['normal', 'alt'][repeat['user'].index%6/3]">
 <td>
  <a tal:attributes="href string:user${user/id}"
     tal:content="user/username">username</a>
 </td>
 <td tal:content="python:user.realname.plain() or default">&nbsp;</td>
 <td tal:content="python:user.organisation.plain() or default">&nbsp;</td>
 <td tal:content="python:user.address.email() or default">&nbsp;</td>
 <td tal:content="python:user.phone.plain() or default">&nbsp;</td>
 <td tal:condition="context/is_retire_ok">
    <form style="padding:0"
          tal:attributes="action string:user${user/id}">
     <input type="hidden" name="@template" value="index">
     <input type="hidden" name="@action" value="retire">
     <input type="submit" value="retire" i18n:attributes="value">
    </form>
 </td>
</tr>
</tal:block>
</table>
</td>

</tal:block>
