body {
  font-family: 'Droid Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #333;
}

h1,
h2 {
  font-family: 'Ubuntu Mono', serif;
  font-weight: normal;
  margin: 10px 0 20px 0;
  text-transform: uppercase;
}

h1 {
  text-align: center;
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 24px;
}

.vspace-one { margin-top: 1em; }
.vspace-two { margin-top: 2em; }
.vspace-three { margin-top: 3em; }
.vspace-four { margin-top: 4em; }
.vspace-five { margin-top: 5em; }
