/*
:Author: David Goodger
:Contact: goodger@users.sourceforge.net
:date: $Date: 2002-03-08 23:41:46 $
:version: $Revision: 1.1 $
:copyright: This stylesheet has been placed in the public domain.

Default cascading style sheet for the HTML output of Docutils.
*/

a.footnote-reference {
  font-size: smaller;
  vertical-align: super }

col.docinfo-name {
  font-weight: bold;
  text-align: right }

col.field-name {
  font-weight: bold }

div.abstract {
  margin: 2em 5em }

div.abstract h6 {
  font-size: larger;
  text-align: center }

div.attention, div.caution, div.danger, div.error, div.hint,
div.important, div.note, div.tip, div.warning {
  margin: 2em;
  border: medium outset;
  padding: 1em }

div.attention h3, div.caution h3, div.danger h3, div.error h3,
div.warning h3 {
  color: red;
  font-weight: bold;
  font-family: sans-serif }

div.hint h3, div.important h3, div.note h3, div.tip h3 {
  font-weight: bold;
  font-family: sans-serif }

div.field-body {
  margin-bottom: 1em }

div.field-list {
  margin-bottom: -1em }

div.figure {
  margin-left: 2em }

div.footnote {
  border-left: solid thin black;
  padding-left: 1em }

div.system-messages {
  margin: 5em }

div.system-messages h1 {
  color: red }

div.system-message {
  border: medium outset;
  padding: 1em }

div.system-message h3 {
  color: red }

dt {
  margin-bottom: -1em }

h1.title {
  text-align: center }

h2.subtitle {
  text-align: center }

hr {
  width: 75% }

ol.arabic {
  list-style: decimal }

ol.loweralpha {
  list-style: lower-alpha }

ol.upperalpha {
  list-style: upper-alpha }

ol.lowerroman {
  list-style: lower-roman }

ol.upperroman {
  list-style: upper-roman }

p.caption {
  font-style: italic }

p.field-name {
  margin-bottom: 1em }

pre.literal-block, pre.doctest-block {
  margin-left: 2em }

span.classifier {
  font-family: sans-serif;
  font-style: oblique }

span.classifier-delimiter {
  font-family: sans-serif;
  font-weight: bold }

span.field-argument {
  font-style: italic }

span.interpreted {
  font-family: sans-serif }

span.option-argument {
  font-style: italic }

span.problematic {
  color: red }

table {
  margin-top: 1em }

table.docinfo {
  margin: 2em 4em }
