body {
  color: #333;
}

h1,
h2 {
  font-weight: normal;
  margin: 10px 0 20px 0;
  text-transform: uppercase;
}

h1 {
  text-align: center;
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 24px;
}

.navbar-light {
  border-radius: 4px;
  border: 1px solid #d4d4d4;
  background-image: linear-gradient(to bottom,#ffffff,#e8e8e8);
  background-repeat: repeat-x;
  margin: 20px 15px;
  padding: .3rem 1rem;
}

.navbar-light form {
  margin: 8px;
}

.navbar-light .btn {
  margin-top: 0;
}

tr.info {
  background-color: #d9edf7;
}

footer {
  font-size: 1.2em;
}

.vspace-one { margin-top: 1em; }
.vspace-two { margin-top: 2em; }
.vspace-three { margin-top: 3em; }
.vspace-four { margin-top: 4em; }
.vspace-five { margin-top: 5em; }

.navigation {
  border-right: 1px solid #ddd;
}

.table-condensed td, .table-condensed th {
  padding:.3rem;
}

.msg {
  background-color: #f0f0f0;
  border-radius: 4px;
  border: 1px solid #d4d4d4;
  padding: 6px;
}

blockquote {
  display: block;
  background: #e8e8e8;
  white-space: pre-line;
  border-radius: 4px;
  border: 1px solid #d4d4d4;
  margin: 0 1rem;
  padding: 0 .2rem;
}

code {
  background: #e8e8e8;
  white-space: pre;
  border-radius: 4px;
  border: 1px solid #d4d4d4;
}

pre > code {
  display: block;
}

input:required {
  border-width: 1.5px;
  border-color: #6e747a;
}

select:required {
  border-width: 1.5px;
  border-color: #6e747a;
}
