{% extends 'layout/page.html' %}

{% block head_title %}
  {% trans %}Edit Collision{% endtrans %} - {{ config.TRACKER_NAME }}
{% endblock %}

{% block page_header %}
  {% trans %}Edit Collision{% endtrans %} - {{ config.TRACKER_NAME }}
{% endblock %}

{% block content %}
  <p>
    {% trans %}There has been a collision.
    Another user updated this node
    while you were editing. Please{% endtrans %}
    <a href='{{ context }}'>{% trans %}reload{% endtrans %}</a>
    {% trans %}the node and review your edits.{% endtrans %}
  </p>
{% endblock %}
