{% extends 'layout/page.html' %}

{% block head_title %}
  {% trans %}File display{% endtrans %}
{% endblock %}

{% block page_header %}
  {% trans %}File display{% endtrans %}
{% endblock %}

{% block content %}

  {% include 'layout/permission.html' %}

  {% if context.is_view_ok() %}
    <form method="POST"
      enctype="multipart/form-data" action='{{ context.designator() }}'>

      <dl class="row row-cols-1 row-cols-md-2">
        <div class="col row">
          <dt class="col col-auto">{% trans %}Name{% endtrans %}</dt>
          <dd class="col col-auto">{{ context.name.field()|u|safe }}</dd>
        </div>
        <div class="col row">
          <dt class="col col-auto">{% trans %}Content Type{% endtrans %}</dt>
          <dd class="col col-auto">{{ context.type.field()|u|safe }}</dd>
        </div>
      </dl>

      <input type="hidden" name="@template" value="item">
      <input type="hidden" name="@required" value="name,type">
      {% if '@multilink' in request.form %}
        <input type="hidden" name="@multilink"
          value='{{ request.form["@multilink"].value()|u }}'>
      {% endif %}
      <div class='form-actions'>
        {{ context.submit()|u|safe }}
      </div>
    </form>
  {% endif %}

  {% if context.id and context.is_view_ok() %}
    <div>
      <a href='file{{ context.id }}/{{ context.name.plain()|u }}'>{% trans %}Download{% endtrans %}</a>
    </div>
  {% endif %}

  <div class='vspace-five'></div>
  {{ context.history()|u|safe }}

{% endblock %}
