<h4>Files</h4>
<table class='table'>
  <tr>
    <th i18n:translate="">File name</th>
    <th i18n:translate="">Uploaded</th>
    <th i18n:translate="">Type</th>
    <th i18n:translate="">Edit</th>
    <th i18n:translate="">Remove</th>
  </tr>
  {% for file in context.files %}
    <tr>
      <td>
        <a href='{{ file.download_url() }}'>{{ file.name }}</a>
      </td>
      <td>{{ file.creator }}, {{ file.creation }}</td>
      <td>{{ file.type }}</td>
      {% if file.is_edit_ok %}
        <td>
          <a href='file{{ file.id }}'>edit</a>
        </td>
      {% endif %}
      {% if context.is_edit_ok %}
        <td>
          <form method="POST" action='issue{{ context.id }}'>
            <input type="hidden" name="@remove@files" value='file.id'>
            <input type="hidden" name="@action" value="edit">
            <input type="submit" value="remove" i18n:attributes="value">
          </form>
        </td>
      {% endif %}
    </tr>
  {% endfor %}
</table>
