<dl class='dl-horizontal'>
  <dt>{% trans %}Title{% endtrans %}</dt>
  <dd>{{ context.title.plain()|u }}</dd>
  <dt>{% trans %}Priority{% endtrans %}</dt>
  <dd>{{ context.priority.plain()|u }}</dd>
  <dt>{% trans %}Status{% endtrans %}</dt>
  <dd>{{ context.status.plain()|u }}</dd>
  <dt>{% trans %}Superseder{% endtrans %}</dt>
  <dd>{{ context.superseder.plain()|u }}</dd>
  <dt>{% trans %}Nosy list{% endtrans %}</dt>
  <dd>{{ context.nosy.plain()|u }}</dd>
  <dt>{% trans %}Assigned to{% endtrans %}</dt>
  <dd>{{ context.assignedto.plain()|u }}</dd>
  <dt>{% trans %}Keywords{% endtrans %}</dt>
  <dd>{{ context.keyword.plain()|u }}</dd>
</dl>
