<form method="POST"
      {% if context.id %}
        action='issue{{ context.id }}'
      {% else %}
        action='issue'
      {% endif %}
      name="itemSynopsis"
      enctype="multipart/form-data"
  >
  <fieldset>
    <!-- title -->
    <div class='row-fluid'>
      <div class='control-group'>
        <label class='control-label' for='title'>{{ i18n.gettext('Title') }}</label>
        <div class='controls'>
          <input name='title' id='title' type='text' class='input-xxlarge' value='{{ context.title }}' required>
        </div>
      </div>
    </div> <!-- row-fluid -->

    <!-- priority & Status -->
    <div class='row-fluid'>
      <div class='control-group span6'>
        <label class='control-label' for='priority'>{{ i18n.gettext('Priority') }}</label>
        <div class='controls'>
          {{ context.priority.menu() }}
        </div>
      </div>
      <div class='control-group span6'>
        <label class='control-label' for='status'>{{ i18n.gettext('Status') }}</label>
        <div class='controls'>
          {{ context.status.menu() }}
        </div>
      </div>
    </div> <!-- row-fluid -->

    <!-- Superseder & nosy list -->
    <div class='row-fluid'>
      <div class='control-group span6'>
        <label class='control-label' for='superseder'>{{ i18n.gettext('Superseder') }}</label>
        <div class='controls'>
          <input type='text' name='superseder'>
        </div>
      </div>
      <div class='control-group span6'>
        <label class='control-label' for='nosylist'>{{ i18n.gettext('Nosy list') }}</label>
        <div class='controls'>
          <input type='text' name='nosy'>
        </div>
      </div>
    </div> <!-- row-fluid -->

    <!-- Assigned to & keywords -->
    <div class='row-fluid'>
      <div class='control-group span6'>
        <label class='control-label' for='assignedto'>{{ i18n.gettext('Assigned to') }}</label>
        <div class='controls'>
          {{ context.assignedto.menu() }}
        </div>
      </div>
      <div class='control-group span6'>
        <label class='control-label' for='keywords'>{{ i18n.gettext('Keywords') }}</label>
        <div class='controls'>
          <input type='text' name='keywords' id='keywords'>
        </div>
      </div>
    </div> <!-- row-fluid -->

    <!-- Note -->
    <div class='row-fluid'>
      <div class='control-group'>
        <label class='control-label' for='change_note'>{{ i18n.gettext('Change note') }}</label>
        <div class='controls'>
          <textarea name="@note" rows="5" class='input-xxlarge' id='change_note'></textarea>
        </div>
      </div>
    </div> <!-- row-fluid -->

    <!-- File upload -->
    <div class='row-fluid'>
      <div class='control-group'>
        <label class='control-label' for='file_upload'>{{ i18n.gettext('File') }}</label>
        <div class='controls'>
          <input type="file" name="@file" id='file_upload'>
        </div>
      </div>
    </div> <!-- row-fluid -->
  </fieldset>
  <div class='form-actions'>
    {{ context.submit() }}
    {% if context.id %}
      <a href='{{ context.copy_url() }}'>{{ i18n.gettext('Make a copy') }}</a>
    {% endif %}
  </div>
  <input type="hidden" name="@template" value="item">
  <input type="hidden" name="@required" value="title,priority">
</form>
