{% import 'layout/edit.tmpl' as edit with context %}
<form method="POST"
      {% if context.id -%}
        action="issue{{ context.id }}"
      {% else -%}
        action="issue"
      {% endif -%}
      name="itemSynopsis"
      enctype="multipart/form-data"
      class="col-xl-6" 
  >
  <fieldset>
    <dl class="row row-cols-1 row-cols-lg-2 no-gutters">
      {{ edit.input_text_large('Title', 'title', 'title', required=True) }}
      {{ edit.input_option('Priority', 'priority', required=True) }}
      {{ edit.input_option('Status', 'status') }}
      {{ edit.input_text_small('Superseder', 'superseder', 'superseder') }}
      {{ edit.input_text_small('Nosy list', 'nosylist', 'nosy') }}
      {{ edit.input_option('Assigned to', 'assignedto') }}
      {{ edit.input_text_small('Keywords', 'keyword', 'keyword') }}
      {{ edit.input_textarea('Change note', 'change_note', '@note') }}
      {{ edit.input_file('File', 'file_upload', '@file') }}
    </dl>
  </fieldset>
  <div class="form-actions">
    {{ context.submit(html_kwargs={"class": "btn btn-primary"})|u|safe }}
    {% if context.id %}
      <a href='{{ context.copy_url() }}'>{% trans %}Make a copy{% endtrans %}</a>
    {% endif %}
  </div>
  <input type="hidden" name="@template" value="item">
  <input type="hidden" name="@required" value="title,priority">
</form>
