{% extends 'layout/page.html' %}

{% block page_header %}
    List of issues
{% endblock %}

{% block content %}

  {% include 'layout/permission.html' %}

  {% if context.is_view_ok %}
    <table class='table'>
      <tr class='info'>
        <td>Priority</td>
        <td>ID</td>
        <td>Activity</td>
        <td>Actor</td>
        <td>Keyword</td>
        <td>Title</td>
        <td>Status</td>
        <td>Creator</td>
        <td>Assigned&nbsp;To</td>
      </tr>
      {% for issue in context.list() %}
        <tr>
         <td>{{ issue.priority.plain() }}</td>
         <td>{{ issue.id }}</td>
         <td>{{ issue.activity }}</td>
         <td>{{ issue.actor }}</td>
         <td>{{ issue.keyword.plain() }}</td>
         <td>
          <a href='issue{{ issue.id }}'>{{ issue.title.plain(hyperlink=0) }}</a>
         </td>
         <td>{{ issue.status.plain() }}</td>
         <td>{{ issue.creator.plain() }}</td>
         <td>{{ issue.assignedto.plain() }}</td>
        </tr>
      {% else %}
        There are no issues yet.
      {% endfor %}
    </table>
  {% endif %}

  {% include 'layout/pagination.html' %}

  <div class='row-fluid'> 
    <div class='pull-right'>
      <a class='btn btn-success' href="{{ request.indexargs_url('issue', {'@action':'export_csv'}) }}">Download as CSV</a>
    </div>
  </div>

  {% include 'layout/sort.html' %}

{% endblock %}
