<dl class='dl-horizontal'>
  <dt>{{ i18n.gettext('Title') }}</dt>
  <dd>{{ context.title.plain() }}</dd>
  <dt>{{ i18n.gettext('Priority') }}</dt>
  <dd>{{ context.priority.plain() }}</dd>
  <dt>{{ i18n.gettext('Status') }}</dt>
  <dd>{{ context.status.plain() }}</dd>
  <dt>{{ i18n.gettext('Superseder') }}</dt>
  <dd>{{ context.superseder.plain() }}</dd>
  <dt>{{ i18n.gettext('Nosy list') }}</dt>
  <dd>{{ context.nosy.plain() }}</dd>
  <dt>{{ i18n.gettext('Assigned to') }}</dt>
  <dd>{{ context.assignedto.plain() }}</dd>
  <dt>{{ i18n.gettext('Keywords') }}</dt>
  <dd>{{ context.keyword.plain() }}</dd>
</dl>
