{% extends 'layout/page.html' %}

{% block head_title %}
  {% trans %}List of messages{% endtrans %}
{% endblock %}

{% block page_header %}
  {% trans %}List of messages{% endtrans %}
{% endblock %}

{% block content %}

  {% for msg in context.list() %}
    <div class='row-fluid'>
      <dl class='span5 dl-horizontal'>
        <dt>{% trans %}Author{% endtrans %}</dt>
        <dd>{{ msg.author.plain()|u }}</dd>
        <dt>{% trans %}Date{% endtrans %}</dt>
        <dd>{{ msg.date.plain()|u }}</dd>
        <dt>{% trans %}Message id{% endtrans %}</dt>
        <dd>{{ msg.id }}</dd>
      </dl>
      <div class='span7'>
        <pre>{{ msg.content.hyperlinked()|u }}</pre>
      </div>
    </div>
    <hr>
  {% endfor %}

{% endblock %}
