{% extends 'layout/page.html' %}

{% block head_title %}
  {% if context.id %}
    {{ i18n.gettext('Message') }} {{ context.id }} - {{ config.TRACKER_NAME }}
  {% else %}
    {{ i18n.gettext('New Message') }} - {{ config.TRACKER_NAME }}
  {% endif %}
{% endblock %}

{% block page_header %}
  {% if not (context.id or context.is_edit_ok()) %}
    {{ i18n.gettext('New Message') }}
  {% elif not context.id and context.is_edit_ok() %}
    {{ i18n.gettext('New Message Editing') }}
  {% elif context.id and not context.is_edit_ok() %}
    {{ i18n.gettext('Message') }}{{ context.id }}
  {% elif context.id and context.is_edit_ok() %}
    {{ i18n.gettext('Message') }}{{ context.id }} {{ i18n.gettext('editing') }}
  {% endif %}
{% endblock %}

{% block content %}

  {% include 'layout/permission.html' %}

  {% if context.is_view_ok() %}
    <dl class='dl-horizontal'>
      <dt>{{ i18n.gettext('Author') }}</dt>
      <dd>{{ context.author }} </dd>
      <dt>{{ i18n.gettext('Recipients') }}</dt>
      <dd>{{ context.recipients }}</dd>
      <dt>{{ i18n.gettext('Date') }}</dt>
      <dd>{{ context.date }}</dd>
    </dl>

    <div class='row-fluid'>
      <h4>Content</h4>
      <pre>{{ context.content.hyperlinked }}</pre>
    </div>
  {% endif %}

  {% if context.files %}
    {% include 'file.index.html' %}
  {% endif %}

  <div class='vspace-five'></div>
  {{ context.history() }}

{% endblock %}
