.body {
  font-family: sans-serif, Arial, Helvetica;
}
a:hover { text-decoration: underline; }
a:link { text-decoration: none; }
a { text-decoration: none; }

p {
  color: #333333;
}

td.sidebar {
  font-family: sans-serif, Arial, Helvetica;
  background-color: #efefef;
  border: none;
  padding: 5px;
}

.page-header {
  font-family: sans-serif, Arial, Helvetica;
  background-color: #efefef;
  border: none;
  padding: 5px;
}

.strong-header {
  font-family: sans-serif, Arial, Helvetica;
  font-weight: bold;
  background-color: #000000;
  color: #ffffff;
}

td.content {
  padding: 1px;
/*
  border: 1px solid black;
*/
}

table.list td {
  border: 0 2 0 2;
  border-left: 1px solid #404070;
  border-right: 1px solid #404070;
}
/*
WAAAAAAH nothing seems to support last-child :(
table.list td:first-child {
  border-left: 2px solid #404070;
}
table.list td:last-child {
  border-right: 2px solid #404070;
}
*/
table.list tr:last-child td {
  border-bottom: 2px solid #404070;
}
.list-header {
  background-color: #404070;
  color: white;
  border: none;
}

.section-bar {
  background-color: #e0e0e0;
}

.row-normal {
  background-color: #ffffff;
  border: none;
}

.row-alt {
  background-color: #efefef;
  border: none;
}

.file-header {
  font-family: sans-serif, Arial, Helvetica;
  font-weight: bold;
  background-color: #41BE62;
  color: #ffffff;
}   

.history-header {
  font-family: sans-serif, Arial, Helvetica;
  font-weight: bold;
  background-color: #739DEE;
  color: #ffffff;
}

.msg-header {
  font-family: Verdana, Helvetica, sans-serif;
  font-weight: bold;
  background-color: #EE71AC;
  color: #ffffff;
}

.msg-content {
  font-family: monospace;
  background-color: #ffeaff;
  color: #000000;
}

p.ok-message {
  background-color: #22bb22;
  padding: 5 5 5 5;
  color: white;
  font-weight: bold;
}
p.error-message {
  background-color: #bb2222;
  padding: 5 5 5 5;
  color: white;
  font-weight: bold;
}

tr.form td {
  background-color: #f0f0f0;
}
.form-title {
  font-weight: bold;
  color: #333333;
}

.form-label {
  font-weight: bold;
  color: #333333;
}

.form-optional {
  font-weight: bold;
  font-style: italic;
  color: #333333;
}

.form-element {
  color: #000000;
}

.form-text {
  color: #333333;
}

.form-mono {
  font-family: monospace;
}

