/* main page styles */
.body {
  font-family: sans-serif, Arial, Helvetica;
  color: #333333;
}
a:hover { text-decoration: underline; }
a:link { text-decoration: none; }
a { text-decoration: none; }

.page-header-left {
  background-color: #ffffee;
  padding: 5px;
}

.page-header-top {
  background-color: #ffffee;
  border-bottom: 1px solid #ffffbb;
  padding: 5px;
}

td.sidebar {
  background-color: #ffffee;
  border-right: 1px solid #ffffbb;
  border-bottom: 1px solid #ffffbb;
  padding: 5px;
}

td.sidebar p.classblock {
  border-top: 1px solid #ffffbb;
  border-bottom: 1px solid #ffffbb;
}

td.sidebar p.userblock {
  background-color: #eeffff;
  border-top: 1px solid #bbffff;
  border-bottom: 1px solid #bbffff;
}

td.content {
  padding: 1px;
}

p.ok-message {
  background-color: #22bb22;
  padding: 5 5 5 5;
  color: white;
  font-weight: bold;
}
p.error-message {
  background-color: #bb2222;
  padding: 5 5 5 5;
  color: white;
  font-weight: bold;
}


/* style for forms */
table.form {
  border-spacing: 0px;
  border-collapse: separate;
  /* width: 100%; */
}

.form th {
  font-weight: bold;
  color: #333388;
  text-align: right;
}

.form-header th {
  font-weight: bold;
  color: #333388;
  background-color: #eeeeff;
  text-align: left;
}

.form td.optional {
  font-weight: bold;
  font-style: italic;
  color: #333333;
}

.form td {
  color: #333333;
}

.form td.html {
  color: #777777;
}

/* style for lists */
table.list {
  border-spacing: 0px;
  border-collapse: separate;
  width: 100%;
}

table.list th {
  padding: 0 4 0 4;
  color: #404070;
  background-color: #eeeeff;
/*
  border-right: 1px solid #404070;
*/
  vertical-align: top;
}
table.list th a:hover { color: white }
table.list th a:link { color: white }
table.list th a { color: white }
table.list th.group {
  text-align: center;
}

table.list td {
  padding: 0 4 0 4;
  border: 0 2 0 2;
  border-right: 1px solid #404070;
  color: #404070;
  background-color: white;
  vertical-align: top;
}

table.list td.normal {
}

table.list td.alt {
  background-color: #efefef;
}

table.list td:first-child {
  border-left: 1px solid #404070;
  border-right: 1px solid #404070;
}
/*
table.list th:first-child {
  border-left: 1px solid #404070;
  border-right: 1px solid #404070;
}
*/

/* style for message displays */
table.messages {
  border-spacing: 0px;
  border-collapse: separate;
  width: 100%;
}

table.messages th.header{
  padding-top: 10px;
  border-bottom: 1px solid gray;
  font-weight: bold;
  background-color: white;
  color: #707040;
}

table.messages th {
  font-weight: bold;
  color: black;
  text-align: left;
}

table.messages td {
  font-family: monospace;
  background-color: #efefef;
  border-top: 1px solid #afafaf;
  border-bottom: 1px solid #afafaf;
  color: black;
}

/* style for file displays */
table.files {
  border-spacing: 0px;
  border-collapse: separate;
  width: 100%;
}

table.files th.header{
  padding-top: 10px;
  border-bottom: 1px solid gray;
  font-weight: bold;
  background-color: white;
  color: #707040;
}

table.files th {
  border-bottom: 1px solid #afafaf;
  font-weight: bold;
  text-align: left;
}

table.files td {
  font-family: monospace;
}


/* style for file displays */
table.otherinfo {
  border-spacing: 0px;
  border-collapse: separate;
  width: 100%;
}

table.otherinfo th.header{
  padding-top: 10px;
  border-bottom: 1px solid gray;
  font-weight: bold;
  background-color: white;
  color: #707040;
}

table.otherinfo th {
  border-bottom: 1px solid #afafaf;
  font-weight: bold;
  text-align: left;
}

