a:hover {  
  font-family: Verdana, Helvetica, sans-serif; 
  text-decoration: underline;
  color: #333333; 
}

a:link {
  font-family: Verdana, Helvetica, sans-serif; 
  text-decoration: none;
  color: #000099;
}

a {
  font-family: Verdana, Helvetica, sans-serif; 
  text-decoration: none;
  color: #000099;
}

p {
  font-family: Verdana, Helvetica, sans-serif;
  color: #333333;
}

th {
  font-family: Verdana, Helvetica, sans-serif; 
  font-weight: bold;
  color: #333333;
}

.form-help {
  font-family: Verdana, Helvetica, sans-serif;
  color: #333333;
}

.location-bar {
  background-color: #44bb66;
  color: #ffffff;
  border: none;
}

.strong-header {
  font-family: Verdana, Helvetica, sans-serif;
  font-weight: bold;
  background-color: #000000;
  color: #ffffff;
}

.file-header {
  font-family: Verdana, Helvetica, sans-serif;
  font-weight: bold;
  background-color: #41BE62;
  color: #ffffff;
}   

.history-header {
  font-family: Verdana, Helvetica, sans-serif;
  font-weight: bold;
  background-color: #739DEE;
  color: #ffffff;
}

.list-header {
  background-color: #aaccff;
  color: #000000;
  border: none;
}

.row-normal {
  background-color: #ffffff;
  border: none;
}

.row-hilite {
  background-color: #efefef;
  border: none;
}

.row-unread {
  background-color: #ffddd9;
  border: none;
}

.row-in-progress {
  background-color: #3ccc50;
  border: none;
}

.row-resolved {
  background-color: #aaccff;
  border: none;
}

.row-done-cbb {
  background-color: #aaccff;
  border: none;
}

.row-testing {
  background-color: #c6ddff;
  border: none;
}

.row-need-eg {
  background-color: #ffc7c0;
  border: none;
}

.row-chatting {
  background-color: #ffe3c0;
  border: none;
}

.row-deferred {
  background-color: #cccccc;
  border: none;
}

.msg-header {
  font-family: Verdana, Helvetica, sans-serif;
  font-weight: bold;
  background-color: #EE71AC;
  color: #ffffff;
}

.msg-content {
  font-family: monospace;
  background-color: #ffeaff;
  color: #000000;
}

.system-msg {
  background-color: #ffffff;
  border:  1px solid #000000;
  margin-bottom: 6px;
  margin-top: 6px;
  padding: 4px;
  width: 100%;
  color: #660033;
}

.form-title {
  font-weight: bold;
  color: #333333;
}

.form-label {
  font-weight: bold;
  color: #333333;
}

.form-optional {
  font-weight: bold;
  font-style: italic;
  color: #333333;
}

.form-element {
  color: #000000;
}

.form-text {
  color: #333333;
}

.form-mono {
  font-family: monospace;
}

