<tal:block metal:define-macro="icing">
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
                               "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title metal:define-slot="head_title">title goes here</title>
<link rel="stylesheet" type="text/css" href="@@file/style.css">
<meta http-equiv="Content-Type"
 tal:attributes="content string:text/html;; charset=${request/client/charset}" />
<script tal:replace="structure request/base_javascript">
</script>

</head>
<body class="body" marginwidth="0" marginheight="0">

<table class="body">

<tr>
 <td class="page-header-left">&nbsp;</td>
 <td class="page-header-top"><h2><span metal:define-slot="body_title">body title</span></h2></td>
</tr>

<tr>
 <td rowspan="2" valign="top" class="sidebar">
  <p class="userblock" tal:condition="python:request.user.username=='anonymous'">
   <form method="POST" action="">
    <input size="10" name="__login_name"><br>
    <input size="10" type="password" name="__login_password"><br>
    <input type="hidden" name="@action" value="Login">
    <input type="submit" value="Login" i18n:attributes="value">
    <span tal:replace="structure request/indexargs_form" />
   </form>
   <a tal:condition="python:request.user.hasPermission('Web Registration')"
      href="user?@template=register" i18n:translate="">Register</a>
  </p>

  <p class="userblock" tal:condition="python:request.user.username != 'anonymous'">
   <b i18n:translate="">Hello,<br><span i18n:name="user"
    tal:content="request/user/username">username</span></b><br>
   <a tal:attributes="href string:user${request/user/id}"
    i18n:translate="">My Details</a><br>
   <a tal:attributes="href python:request.indexargs_href('',
       {'@action':'logout'})" i18n:translate="">Logout</a>
  </p>

  <p class="classblock"
       tal:condition="python:request.user.username != 'anonymous'">
   <b i18n:translate="">Administration</b><br>
   <a tal:condition="python:request.user.hasPermission('Edit', None)"
      href="home?@template=classlist" i18n:translate="">Class List</a><br>
   <a tal:condition="python:request.user.hasPermission('View', 'user')
                            or request.user.hasPermission('Edit', 'user')"
      href="user" i18n:translate="">User List</a><br>
   <a tal:condition="python:request.user.hasPermission('Edit', 'user')"
      href="user?@template=item" i18n:translate="">Add User</a>
  </p>
 </td>
 <td>
  <p tal:condition="options/error_message | nothing" class="error-message"
     tal:repeat="m options/error_message" tal:content="structure m">error</p>
  <p tal:condition="options/ok_message | nothing" class="ok-message"
     tal:repeat="m options/ok_message" tal:content="structure m">error</p>
 </td>
</tr>
<tr>
 <td class="content" metal:define-slot="content">Page content goes here</td>
</tr>

</table>

<pre tal:condition="request/form/debug | nothing" tal:content="request">
</pre>

</body>
</html>
</tal:block>
