# human timezones
pytz
# indexer
Whoosh
# databases - need devel and other files installed to be built.
#psycopg2==2.7.4
#mysqlclient==1.3.10
# encryption - need additional packages
#gpg==1.10.0
# java web tokens
PyJWT==1.7.1
# extra compression support - build needs gcc
#Brotli==1.0.4
#zstd==1.5.0.2

